[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = scarthgap
[submodule "meta-virtualization"]
	path = layers/sw/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = scarthgap
[submodule "meta-openembedded"]
	path = layers/sw/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "meta-aws"]
	path = layers/sw/meta-aws
	url = https://github.com/aws4embeddedlinux/meta-aws.git
	branch = scarthgap
[submodule "meta-freescale"]
	path = layers/bsp/meta-freescale
	url = https://github.com/Freescale/meta-freescale.git
	branch = scarthgap
[submodule "meta-raspberrypi"]
	path = layers/bsp/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = scarthgap
[submodule "meta-java"]
	path = layers/sw/meta-java
	url = https://github.com/meta-java/meta-java.git
	branch = scarthgap
[submodule "meta-variscite-bsp-imx"]
	path = layers/bsp/meta-variscite-bsp-imx
	url = https://github.com/varigit/meta-variscite-bsp-imx.git
	branch = scarthgap_6.6.23-2.0.0_var01
[submodule "meta-freescale-distro"]
	path = layers/bsp/meta-freescale-distro
	url = https://github.com/Freescale/meta-freescale-distro.git
	branch = scarthgap
[submodule "meta-variscite-sdk"]
	path = layers/bsp/meta-variscite-sdk
	url = https://github.com/varigit/meta-variscite-sdk.git
	branch = scarthgap
[submodule "meta-qt5"]
	path = layers/sw/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = scarthgap
[submodule "meta-security"]
	path = layers/sw/meta-security
	url = https://github.com/ni/meta-security.git
	branch = nilrt/master/next
[submodule "meta-selinux"]
	path = layers/sw/meta-selinux
	url = https://github.com/ni/meta-selinux.git
	branch = nilrt/master/next
[submodule "meta-spdxscanner"]
	path = layers/sw/meta-spdxscanner
	url = https://git.yoctoproject.org/meta-spdxscanner/
	branch = scarthgap
[submodule "meta-clang"]
	path = layers/sw/meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = scarthgap
[submodule "meta-flutter"]
	path = layers/sw/meta-flutter
	url = https://github.com/meta-flutter/meta-flutter.git
	branch = scarthgap
[submodule "meta-agl"]
	path = layers/agl/meta-agl
	url = https://gerrit.automotivelinux.org/gerrit/AGL/meta-agl
	branch = ricefish
[submodule "meta-agl-demo"]
	path = layers/agl/meta-agl-demo
	url = https://gerrit.automotivelinux.org/gerrit/AGL/meta-agl-demo
	branch = ricefish
[submodule "meta-agl-devel"]
	path = layers/agl/meta-agl-devel
	url = https://gerrit.automotivelinux.org/gerrit/AGL/meta-agl-devel
	branch = ricefish
[submodule "meta-xilinx-tools"]
	path = layers/bsp/meta-xilinx-tools
	url = https://git.yoctoproject.org/meta-xilinx-tools
	branch = scarthgap
[submodule "meta-xilinx"]
	path = layers/bsp/meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git
	branch = scarthgap
[submodule "meta-ti"]
	path = layers/bsp/meta-ti
	url = https://git.yoctoproject.org/meta-ti
	branch = scarthgap
[submodule "meta-arm"]
	path = layers/bsp/meta-arm
	url = https://git.yoctoproject.org/meta-arm
	branch = scarthgap
[submodule "meta-renesas"]
	path = layers/bsp/meta-renesas
	url = https://github.com/renesas-rcar/meta-renesas.git
	branch = scarthgap-dev
[submodule "meta-agl-refhw"]
	path = layers/agl/meta-agl-refhw
	url = https://gerrit.automotivelinux.org/gerrit/AGL/meta-agl-refhw
	branch = ricefish
[submodule "meta-freescale-ml"]
	path = layers/bsp/meta-freescale-ml
	url = https://github.com/Freescale/meta-freescale-ml.git
	branch = master
[submodule "layers/bsp/meta-alb"]
	path = layers/bsp/meta-alb
	url = https://github.com/nxp-auto-linux/meta-alb.git
	branch = release/bsp41.0-4.0
[submodule "layers/bsp/meta-ampliphy"]
	path = layers/bsp/meta-ampliphy
	url = https://github.com/phytec/meta-ampliphy.git
	branch = scarthgap
[submodule "layers/bsp/meta-phytec"]
	path = layers/bsp/meta-phytec
	url = https://github.com/phytec/meta-phytec.git
	branch = scarthgap
[submodule "layers/sw/meta-rauc"]
	path = layers/sw/meta-rauc
	url = https://github.com/rauc/meta-rauc.git
	branch = scarthgap
[submodule "layers/sw/meta-ros"]
	path = layers/sw/meta-ros
	url = https://github.com/ros/meta-ros.git
	branch = scarthgap
