[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = scarthgap
[submodule "meta-virtualization"]
	path = layers/sw/meta-virtualization
	url = git://git.yoctoproject.org/meta-virtualization
	branch = scarthgap
[submodule "meta-openembedded"]
	path = layers/sw/meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "meta-aws"]
	path = layers/sw/meta-aws
	url = https://github.com/aws4embeddedlinux/meta-aws.git
	branch = scarthgap
[submodule "meta-freescale"]
	path = layers/bsp/meta-freescale
	url = https://github.com/Freescale/meta-freescale.git
	branch = scarthgap
[submodule "meta-raspberrypi"]
	path = layers/bsp/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = scarthgap
[submodule "meta-freescale-distro"]
	path = layers/bsp/meta-freescale-distro
	url = https://github.com/Freescale/meta-freescale-distro.git
	branch = scarthgap
[submodule "meta-qt5"]
	path = layers/sw/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = scarthgap
[submodule "meta-clang"]
	path = layers/sw/meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = scarthgap
[submodule "meta-flutter"]
	path = layers/sw/meta-flutter
	url = https://github.com/meta-flutter/meta-flutter.git
	branch = scarthgap
[submodule "meta-agl"]
	path = layers/agl/meta-agl
	url = https://gerrit.automotivelinux.org/gerrit/AGL/meta-agl
	branch = ricefish
[submodule "meta-agl-demo"]
	path = layers/agl/meta-agl-demo
	url = https://gerrit.automotivelinux.org/gerrit/AGL/meta-agl-demo
	branch = ricefish
[submodule "meta-agl-devel"]
	path = layers/agl/meta-agl-devel
	url = https://gerrit.automotivelinux.org/gerrit/AGL/meta-agl-devel
	branch = ricefish
[submodule "meta-xilinx-tools"]
	path = layers/bsp/meta-xilinx-tools
	url = https://git.yoctoproject.org/meta-xilinx-tools
	branch = scarthgap
[submodule "meta-xilinx"]
	path = layers/bsp/meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx.git
	branch = scarthgap
[submodule "meta-ti"]
	path = layers/bsp/meta-ti
	url = https://git.yoctoproject.org/meta-ti
	branch = scarthgap
[submodule "meta-arm"]
	path = layers/bsp/meta-arm
	url = https://git.yoctoproject.org/meta-arm
	branch = scarthgap
[submodule "meta-agl-refhw"]
	path = layers/agl/meta-agl-refhw
	url = https://gerrit.automotivelinux.org/gerrit/AGL/meta-agl-refhw
	branch = octopus
[submodule "layers/bsp/meta-ampliphy"]
	path = layers/bsp/meta-ampliphy
	url = https://github.com/phytec/meta-ampliphy.git
	branch = scarthgap
[submodule "layers/sw/meta-rauc"]
	path = layers/sw/meta-rauc
	url = https://github.com/rauc/meta-rauc.git
	branch = scarthgap
[submodule "layers/bsp/meta-st-stm32mp"]
	path = layers/bsp/meta-st-stm32mp
	url = https://github.com/STMicroelectronics/meta-st-stm32mp.git
	branch = scarthgap
[submodule "layers/bsp/meta-rauc-community"]
	path = layers/bsp/meta-rauc-community
	url = https://github.com/rauc/meta-rauc-community.git
	branch = scarthgap
[submodule "layers/bsp/meta-lts-mixins"]
	path = layers/bsp/meta-lts-mixins
	url = https://git.yoctoproject.org/meta-lts-mixins
	branch = scarthgap/u-boot
[submodule "layers/bsp/meta-rockchip"]
	path = layers/bsp/meta-rockchip
	url = https://git.yoctoproject.org/meta-rockchip
	branch = scarthgap
[submodule "layers/bsp/rockchip-rv1106-dev"]
	path = layers/bsp/rockchip-rv1106-dev
	url = https://github.com/thomas-roos/rockchip-rv1106-dev.git
	branch = scarthgap
[submodule "layers/sw/meta-ptx"]
	path = layers/sw/meta-ptx
	url = https://git.pengutronix.de/git/meta-ptx
	branch = scarthgap
[submodule "layers/sw/meta-clang"]
	path = layers/sw/meta-clang
	url = https://github.com/kraj/meta-clang.git
	branch = scarthgap
[submodule "layers/sw/meta-browser"]
	path = layers/sw/meta-browser
	url = https://github.com/OSSystems/meta-browser.git
	branch = scarthgap
[submodule "layers/bsp/meta-phytec"]
	path = layers/bsp/meta-phytec
	url = https://github.com/phytec/meta-phytec.git
	branch = scarthgap
[submodule "layers/sw/scarthgap-rust-mixin"]
	path = layers/sw/scarthgap-rust-mixin
	url = https://git.yoctoproject.org/meta-lts-mixins
	branch = scarthgap/rust
[submodule "layers/sw/meta-security"]
	path = layers/sw/meta-security
	url = https://github.com/thomas-roos/meta-security
	branch = scarthgap
[submodule "layers/bsp/meta-slb9670-rpi"]
	path = layers/bsp/meta-slb9670-rpi
	url = https://github.com/ejaaskel/meta-slb9670-rpi.git
	branch = scarthgap
