[Unit]
Description=Greengrass Lite Fleet Provisioning Service
After=ggl.core.ggconfigd.service
After=network-online.target

[Service]
Type=oneshot
ExecStartPre=/bin/sh -c '\
    # default_iface=$(busybox route | grep default | awk "{print \$8}"); \
    # mac_address=$(busybox ifconfig "$default_iface" | grep -o -E "([[:xdigit:]]{1,2}:){5}[[:xdigit:]]{1,2}" | tr ":" "_"); \
    # sed -i "s/<unique>/$mac_address/g" "/etc/greengrass/config.d/fleetprovisioning.yaml"; \
    mkdir -p /var/lib/greengrass/provisioned-cert'
ExecStart=/usr/bin/fleet-provisioning
SuccessExitStatus=0 1
User=root
Group=root
RemainAfterExit=true

[Install]
WantedBy=greengrass-lite.target