[Unit]
Description=Greengrass Core
After=network.target
After=systemd-time-wait-sync.service


[Service]
Type=simple
PIDFile=/var/run/greengrass.pid
RemainAfterExit=no
Restart=on-failure
RestartSec=10
ExecStart=/bin/sh /greengrass/v2/alts/current/distro/bin/loader
KillMode=mixed

[Install]
WantedBy=multi-user.target