DEVICE ?= "qemu-arm64"
IMAGE ?= "aws-demo-image"

OEROOT = "##OEROOT##"
require ##OEROOT##/../meta-aws-demos/conf/devices/${DEVICE}/layers.conf

# Add an local layers here (and for devtool)
BBLAYERS += ""