OEROOT = "##OEROOT##"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

# Add an local layers here (and for devtool)
BBLAYERS = ""

require ##OEROOT##/../meta-aws-demos/conf/devices/${DEVICE}/layers.conf

# optional
include ##OEROOT##/../meta-aws-demos/recipes-core/images/${IMAGE}/layers.conf
