CONF_VERSION ?= "2"
DISTRO ?= "poky"

# mandatory
require ${OEROOT}/../meta-aws-demos/conf/devices/${DEVICE}/config.conf

# optional
include ${OEROOT}/../meta-aws-demos/recipes-core/images/${IMAGE}/config.conf
