name: ff-merge

on:
  workflow_dispatch:
      inputs:
        branch:
          description: 'branch to ff merge branch-next into'
          default: 'master'
          required: true

jobs:
  ff-merge:
    runs-on: ubuntu-latest
    steps:
    - name: clone meta-aws-demos ${{ github.event.inputs.branch }} branch
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.inputs.branch }}
        path: meta-aws-demos
        fetch-depth: 0
        token: ${{ secrets.BOT_CREDENTIAL }}

    - name: merge ${{ github.event.inputs.branch }}-next into ${{ github.event.inputs.branch }}
      working-directory: meta-aws-demos
      run: |
        git config --global user.name aws-iot-embedded-linux-ci
        git config --global user.email aws-iot-embedded-linux-ci@users.noreply.github.com
        git merge --ff-only origin/${{ github.event.inputs.branch }}-next

    - name: push ${{ github.event.inputs.branch }}
      working-directory: meta-aws-demos
      run: |
        git push -u origin ${{ github.event.inputs.branch }}

