name: ff-merge

on:
  workflow_dispatch:
      inputs:
        branch:
          description: 'branch to ff merge branch-next into'
          default: 'master'
          required: true

jobs:
  ff-merge:
    runs-on: ubuntu-latest
    steps:
    - name: clone meta-aws-demos ${{ github.event.inputs.branch }} branch
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.inputs.branch }}
        path: meta-aws-demos
        submodules: true
        fetch-depth: 0

    - name: merge ${{ github.event.inputs.branch }}-next into ${{ github.event.inputs.branch }}
      working-directory: meta-aws-demos
      env:
        BRANCH_NAME: ${{ github.event.inputs.branch }}
      run: |
        git config --global user.name aws-iot-embedded-linux-ci
        git config --global user.email aws-iot-embedded-linux-ci@users.noreply.github.com
        git merge --ff-only origin/${BRANCH_NAME}-next

    - name: push ${{ github.event.inputs.branch }}
      working-directory: meta-aws-demos
      env:
        BRANCH_NAME: ${{ github.event.inputs.branch }}
      run: |
        git push -u origin ${BRANCH_NAME}

